body{
    background-image: url('365722.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table{
    width: 80%;
    margin: 40px auto;
    background: rgb(220, 91, 177);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(198, 116, 192);
}


input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(138, 32, 138);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #ff9ce8;
}

input[type="reset"]:hover{
    background: #ff9ce8;
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#ff9ce8 ;
}